@layer utilities {
  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
}

/* Custom smooth scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c3c6d7;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #737686;
}

.dark ::-webkit-scrollbar-thumb {
  background: #434655;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #737686;
}
